@media (min-width: 1200px) {

	.container-verybig{
		max-width:1560px;
	}
}

#bandeausaison4{
	background-image: url(https://media.discordapp.net/attachments/709643068499820545/709653278970871828/combat.jpg);
	background-repeat: no-repeat;
}

#bandeausaison4 h1{
    font-family: 'Jost', sans-serif;
    color: white;
	text-align: left;
	font-size:55px;
	margin-bottom:35px;
	font-weight: bold;
}

#bandeausaison4 .no-gutters {
	padding-top:330px;
	padding-left: 20px;
}
#bandeausaison4 .col-6 {
	font-family: Open Sans,Arial,Helvetica,sans-serif;
    color: #ebdec2;
    font-size:21px;
	text-align: left;
    padding-bottom:30px;
}
#bandeausaison4 .col-6 a {
    margin-top:50px;
}

#bandeausaison4 .annonce{
    background-color: rgba(159, 22, 0, 0.6);
    margin-left: 0px;
	 display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
	color:#f7b10a;
	text-transform: uppercase;
	text-decoration: none;	
    margin-bottom:70px;
    text-align: left;
}
#bandeausaison4 .ensavoir{
    display: inline-block;
    padding:10px 30px;
    border: 1px solid #f7b10a;
	color:#f7b10a;
	text-transform: uppercase;
	text-decoration: none;	
    margin-bottom:70px;
    text-align: left;
    background: rgba(0,0,0,.4);
    margin-left: 20px;
}
#bandeausaison4 a {
	 color: #ebdec2;
	 text-decoration: underline;
}

